.container {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 10px;
   
 }   
.box {
    width: 100%;
    height:100% ;
    background-color: black;

}
.boxa {
    grid-column: 1/3;
    grid-row: 1;
}
.boxb {
    grid-column: 3;
    grid-row: 1;
}
.boxc {
    grid-column: 1;
    grid-row: 2/4;
}
.boxd {
    grid-column: 2;
    grid-row: 2;
}
.boxe {
    grid-column: 2;
    grid-row: 3;
}
.boxf {
    grid-column: 3;
    grid-row: 2/4;
}